#Bike1{
    background-image: url("../assets/s1000rr.jpg");
    background-size: cover;
    background-position: center;
}
#Bike2{
    background-image: url("../assets/bmw.jpg");
    background-size: cover;
    background-position: center;
}
#Bike3{
    background-image: url("../assets/ktm.jpg");
    background-size: cover;
    background-position: center;
}
#Bike4{
    background-image: url("../assets/Harley.jpeg");
    background-size: cover;
    background-position: center;
}
.awssld__bullets{
    display: none;
  }